@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  font-family: 'Inter', sans-serif !important;
 
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background: #eceff1  !important; */
}

.pdf-controls-container {

  width: 100%;
  background: #323639;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center the controls container */
}

.pdf-controls {
  display: flex;
  justify-content: center;
  padding: 10px;

  width: 100%; 
  max-width: 1200px; 
}

.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pdf-content {
  transform-origin: center center;
  transition: transform 0.3s ease;
}