@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif !important;
 
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eceff1  !important;
}

.pdf-controls-container {

  width: 100%;
  background: #323639;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center the controls container */
}

.pdf-controls {
  display: flex;
  justify-content: center;
  padding: 10px;

  width: 100%; 
  max-width: 1200px; 
}